@model TrackMyDay.Models.


<div id="AllHistory"> </div>

@{ 
    var id = Model.JobId;
}

<div class="form-horizontal">
    <h4>Insert New History :</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    

    <div class="form-group form-inline">
        
            What You Have done :  
        <div class="col-md-10">
                @Html.TextArea("Description", null, new { @class = "form-control" })
            </div>
        
    </div>

    <div class="form-group">
        <p>
            Next Action Date :
            <div class="col-md-10">

                <input type="text" id="NextActionDate" class="form-control" name="Date" style="width:200px;">

            </div>
        </p>
    </div>



    <div class="form-group form-inline">

        Next Action :
        <div class="col-md-10">
            @Html.TextArea("Description", null, new { @class = "form-control" })
        </div>

    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Submit" class="btn btn-default" />
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
       
            var id = x.val();
        var url = "/JobApplication/AllHistory";

            $.ajax({

                url: url,
                data: { jobId: id },

                success: function (data) {

                    $("#AllHistory").html(data);

                }

            });

        }

    });

</script>

