
@{
    ViewBag.Title = "MyJob";
}

<h2>Job Application</h2><br />
<input type="button" id="Switch" value="Add New application" />
<br /><br />

      

<div id="DataContainer">

</div>



<script>

    $(document).ready(function () {

        $("#DataContainer").load("/JobApplication/Index");
    });

    $('#Switch').click(function () {
        if ($(this).val() == "My Application") {
            $("#DataContainer").load("/JobApplication/Index");
            $(this).val("Add New application");
            $("#check").show();
        }
        else {
            $(this).val("My Application");
            $("#DataContainer").load("/JobApplication/Create");
             $("#check").hide();
        }
    });

</script>

